<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>
<head>
<title>Crop Yield model</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        Average rainfall:
        <input name="average_rain_fall_mm_per_year" type="number" required>
        <br>
        <br> pesticides per tonne:
        <input name="pesticides_tonnes" type="number" required>
        <br>
        <br> Average temp:
        <input name="avg_temp" type="number" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br>
        <br> Predicted yield:
           <p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>
</html>